<launch>
	<node pkg="planificacion_pkg" name="MostrarOdom" type="MostrarOdom" respawn="true" output="log" launch-prefix="xterm -e"/>
	<node pkg="planificacion_pkg" name="mandar_camino" type="MostrarOdom" respawn="true" output="log" launch-prefix="xterm -e"/>
	<node pkg="planificacion_pkg" name="prueba_movimiento" type="MostrarOdom" respawn="true" output="log" /> //launch-prefix="xterm -e"/>
	<node pkg="planificacion_pkg" name="Secuenciador" type="MostrarOdom" respawn="true" output="log" /> //launch-prefix="xterm -e"/>
</launch>
