<?xml version="1.0"?>
<launch>
  <arg name="map_name"  value="map2"/>
  
  <param name="map_name" value="$(arg map_name)"/>
  <param name="map_dir" value="$(find planificacion_pkg)/worlds/$(arg map_name).csv"/>
  <param name="inicio_x"  value="2"/>
  <param name="inicio_y"  value="2"/>
  
  
  <!-- Servicios -->
  <node pkg="planificacion_pkg" name="lector_mapa_csv" type="lector_mapa_csv"/>
  
  <!-- Planificador -->
  <node pkg="planificacion_pkg" name="planificador_dijkstra" type="planificador_dijkstra" output="screen" launch-prefix="xterm -e"/>

</launch>
