<?xml version="1.0"?>
<launch>
  <param name="map_name"  value="map3"/>
  <param name="inicio_x"  value="4"/>
  <param name="inicio_y"  value="10"/>
  
  
  <!-- Servicios -->
  <node pkg="planificacion_pkg" name="lector_mapa_csv" type="lector_mapa_csv"/>
  
  <!-- Planificador -->
  <node pkg="planificacion_pkg" name="planificador_dijkstra" type="planificador_dijkstra" output="screen" launch-prefix="xterm -e"/>

</launch>
