<?xml version="1.0"?>
<launch>
  <arg name="map_name"  value="map7"/>
  
  <param name="map_name" value="$(arg map_name)"/>
  <param name="map_dir" value="$(find planificacion_pkg)/worlds/$(arg map_name).csv"/>
  <param name="inicio_x"  value="3"/>
  <param name="inicio_y"  value="9"/>
  
  <!-- Servicios -->
  <node pkg="planificacion_pkg" name="lector_mapa_csv" type="lector_mapa_csv"/>
  <node pkg="planificacion_pkg" name="detectar_esquinas" type="detectar_esquinas"/>
  <node pkg="planificacion_pkg" name="servicio_obstaculos" type="servicio_obstaculos"/>
  
  <!-- Planificador -->
  <node pkg="planificacion_pkg" name="planificador_grafo_dijkstra" type="planificador_grafo_dijkstra" output="screen" launch-prefix="xterm -e"/>

</launch>
